In [1]:

import pandas as pd
url = "https://raw.githubusercontent.com/Roberto-M-M/Poryecto_ing/main/fish-consumption-vs-gdp-per-capita.csv"
datos_csv = pd.read_csv(url, encoding='latin1')
datos_csv

,Entity,Code,Year,Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1961,0.030559,NaN,8790140.0,NaN
2,Afghanistan,AFG,1962,0.030578,NaN,8969055.0,NaN
3,Afghanistan,AFG,1963,0.030598,NaN,9157463.0,NaN
4,Afghanistan,AFG,1964,0.030614,NaN,9355510.0,NaN
...,...,...,...,...,...,...,...
60499,Zimbabwe,ZWE,1956,NaN,NaN,3365481.0,NaN
60500,Zimbabwe,ZWE,1957,NaN,NaN,3470499.0,NaN
60501,Zimbabwe,ZWE,1958,NaN,NaN,3578808.0,NaN
60502,Zimbabwe,ZWE,1959,NaN,NaN,3690646.0,NaN
60503,Zimbabwe,ZWE,1960,NaN,NaN,3806312.0,NaN

In [2]:
datos_csv.isna().sum() #datos faltantes

Entity                                                                                                         0
Code                                                                                                        5485
Year                                                                                                           0
Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita    47912
GDP per capita, PPP (constant 2017 international $)                                                        54158
Population (historical estimates)                                                                           2252
Continent                                                                                                  60219
dtype: int64

In [35]:
datos_csv_url_clean = datos_csv[['Entity','Code','Year', 'Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita', 
                                     'GDP per capita, PPP (constant 2017 international $)','Population (historical estimates)',
                                     'Continent']].dropna(axis = 0, how = 'any')  #drop rows with any missing values in them
print(datos_csv_url_clean.isna().sum())
print(len(datos_csv_url_clean))
datos_csv_url_clean

Entity                                                                                                     0
Code                                                                                                       0
Year                                                                                                       0
Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita    0
GDP per capita, PPP (constant 2017 international $)                                                        0
Population (historical estimates)                                                                          0
Continent                                                                                                  0
dtype: int64
171

,Entity,Code,Year,Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
55,Afghanistan,AFG,2015,0.210000,2108.7140,33753500.0,Asia
711,Albania,ALB,2015,8.369994,11880.5980,2882482.0,Europe
970,Algeria,DZA,2015,4.170000,11751.6340,39543148.0,Africa
1663,Angola,AGO,2015,20.189999,7967.1040,28127724.0,Africa
2047,Antigua and Barbuda,ATG,2015,55.158962,19345.0180,89958.0,North America
...,...,...,...,...,...,...,...
57752,Uzbekistan,UZB,2015,2.280000,6401.1150,30949416.0,Asia
58042,Vanuatu,VUT,2015,33.788780,2859.3496,276450.0,Oceania
58752,Vietnam,VNM,2015,35.210000,8091.0903,92191400.0,Asia
60039,Zambia,ZMB,2015,12.300000,3365.3792,16248231.0,Africa
60299,Zimbabwe,ZWE,2015,4.370001,2313.8787,14154937.0,Africa

In [36]:
datos_csv_url_clean.isna().sum() #datos faltantes

Entity                                                                                                     0
Code                                                                                                       0
Year                                                                                                       0
Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita    0
GDP per capita, PPP (constant 2017 international $)                                                        0
Population (historical estimates)                                                                          0
Continent                                                                                                  0
dtype: int64

In [37]:
datos_csv_url_clean

,Entity,Code,Year,Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita,"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
55,Afghanistan,AFG,2015,0.210000,2108.7140,33753500.0,Asia
711,Albania,ALB,2015,8.369994,11880.5980,2882482.0,Europe
970,Algeria,DZA,2015,4.170000,11751.6340,39543148.0,Africa
1663,Angola,AGO,2015,20.189999,7967.1040,28127724.0,Africa
2047,Antigua and Barbuda,ATG,2015,55.158962,19345.0180,89958.0,North America
...,...,...,...,...,...,...,...
57752,Uzbekistan,UZB,2015,2.280000,6401.1150,30949416.0,Asia
58042,Vanuatu,VUT,2015,33.788780,2859.3496,276450.0,Oceania
58752,Vietnam,VNM,2015,35.210000,8091.0903,92191400.0,Asia
60039,Zambia,ZMB,2015,12.300000,3365.3792,16248231.0,Africa
60299,Zimbabwe,ZWE,2015,4.370001,2313.8787,14154937.0,Africa

In [38]:
datos_csv_url_clean.nunique()

Entity                                                                                                     171
Code                                                                                                       171
Year                                                                                                         1
Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita    171
GDP per capita, PPP (constant 2017 international $)                                                        171
Population (historical estimates)                                                                          171
Continent                                                                                                    6
dtype: int64

In [39]:
datos_csv_url_clean[datos_csv_url_clean.duplicated(subset = ['Code','Continent'],keep=False)].sort_values('Continent')

Empty DataFrame
Columns: [Entity, Code, Year, Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita, GDP per capita, PPP (constant 2017 international $), Population (historical estimates), Continent]
Index: []

Como se puede apresioar no hay datos duplicados.

In [40]:
datos_csv_url_clean['Code'] = datos_csv_url_clean['Code'].astype('category')
datos_csv_url_clean.dtypes

Entity                                                                                                       object
Code                                                                                                       category
Year                                                                                                          int64
Fish and seafood | 00002960 || Food available for consumption | 0645pc || kilograms per year per capita     float64
GDP per capita, PPP (constant 2017 international $)                                                         float64
Population (historical estimates)                                                                           float64
Continent                                                                                                    object
dtype: object

In [41]:
datos_csv_url_clean.to_csv('Datos_procesados_soccer.csv', encoding='utf-8-sig')